{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Poliproyectos</title>
    <meta charset="utf-8">
    <!--Estilo Customizado-->
	<link rel="stylesheet" type="text/css" href="{% static 'rol/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<body>
<nav class="navbar navbar-polip">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index/">Poliproyectos</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Administración<span class="caret"></span></a>
        <ul class="dropdown-menu">
                <li><a href="../accounts/users/">Usuarios</a></li>
                <li><a href="../roles/">Roles</a></li>
                <li><a href="../proyects/">Proyectos</a></li>
            </ul>
        </li>
        <li><a href="/proyecto/">Proyectos</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="head">{{ title }}</div>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-3">
                <div class="container form-container">
                    <div class="form-group">
                        {{ form.as_p }}
                        <div class="col-sm-2"></div>
                        <div class="col-sm-1">
                            <input type="submit" value="Guardar" class="btn submit-btn">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% if messages %}
    {% for message in messages %}
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="container-fluid">
                    <div class="alert alert-success alert-success-foot fade in">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Éxito!</strong> {{ message }}.
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
</div>
</body>