{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Poliproyectos</title>
    <meta charset="utf-8">
    <!--Estilo Customizado-->
	<link rel="stylesheet" type="text/css" href="{% static 'rol/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<body>
    <nav class="navbar navbar-polip">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home/">Poliproyectos</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Administración<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/roles/">Roles</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 head">
                Roles
            </div>
            <div class="col-sm-2 head">
                <div class="btn new-btn">
                    <a href="/roles/create/"><span class="glyphicon glyphicon-plus glyphicon-new">Agregar</span></a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nro</th>
                <th>Nombre</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            {% for rol in object_list %}
                <tr>
                    <td><a href="{% url 'update_rol' rol.pk %}">{{ rol.id }} </a></td>
                        <td>{{ rol.nombre }}</td>
                        <td>{{ rol.descripcion }}</td>
                </tr>
            {% empty %}
                No existen roles
            {% endfor %}
        </tbody>
    </table>
</body>