{%include 'base.html'%}
<div class="container">
    <div class="head">
        <h1 align="center"> Ejecucion {{ object.nombre }} </h1>
        <hr>
    </div>
    <div class="body">
        <div class="options">
            <li>
                <a href="{% url 'sprint_list' object.pk %}">Sprints</a>
            </li>
            <li>
                <a href="{% url 'user_story_list' object.pk %}">Administrar User Stories</a>
            </li>
            <li>
                <a href="{% url 'product_backlog' object.pk%}">Product Backlog</a>
            </li>
            <li>
                {% if sprint_pendiente %}
                <a href="{% url 'asignar_us' object.pk sprint_pendiente.pk %}">Asignar User Stories</a>
                {% else %}
                <a href="#sinSprintPendiente" role="button" data-toggle="modal">Asignar User Stories</a>
                {% endif %}
            </li>
            <li>
                {% if sprint_actual %}
                <a href="#tiposTablero" role="button" data-toggle="modal">Ver tableros de sprint actual</a>
                {% else %}
                <a href="#sinSprintActual" role="button" data-toggle="modal">Ver tableros de sprint actual</a>
                {% endif %}
            </li>
        </div>
        <br><br><br>
        <hr>
        <br>
    </div>
</div>
<div id="sinSprintPendiente" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">No existe sprint pendiente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Debe crear un nuevo sprint para asignar User Stories</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn submit-btn" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div id="sinSprintActual" class="modal fade modal-centrado">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">No existe sprint en proceso</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Debe iniciar un nuevo sprint ver sus tableros</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn submit-btn" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div id="tiposTablero" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-flujos">
            <div class="modal-header">
                <h4 class="modal-title">Tableros de Proyecto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="options-flujos">
                    {% for flujo in flujos %}
                        {% if sprint_actual %}
                            <li>
                                <a href="{% url 'tablero' project.pk sprint_actual.pk flujo.pk %}">{{ flujo.nombre }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn submit-btn" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>