{%include 'base.html'%}
<div class="container">
    <div class="head">
        <h1 align="center"> Ejecucion {{ object.nombre }} </h1>
        <hr>
    </div>
    <div class="body">
        <div class="options">
            <li>
                <a href="{% url 'sprint_list' object.pk %}">Sprints</a>
            </li>
            <li>
                <a href="{% url 'user_story_list' object.pk %}">Administrar User Stories</a>
            </li>
            <li>
                <a href="{% url 'product_backlog' object.pk%}">Product Backlog</a>
            </li>
            <li>
                {% if sprint_pendiente %}
                <a href="{% url 'asignar_us' object.pk sprint_pendiente.pk %}">Asignar User Stories</a>
                {% else %}
                <a href="#sinSprint" role="button" data-toggle="modal">Asignar User Stories</a>
                {% endif %}
            </li>
        </div>
        <br><br><br>
        <hr>
        <br>
    </div>
</div>
<div id="sinSprint" class="modal fade modal-centrado">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">No existe sprint pendiente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Debe crear un nuevo sprint para asignar User Stories</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn submit-btn" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>