{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Poliproyectos</title>
    <meta charset="utf-8">
    <!--Estilo Customizado-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-polip">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index/">Poliproyectos</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Administración<span class="caret"></span></a>
        <ul class="dropdown-menu">
                <li><a href="/usuarios/">Usuarios</a></li>
                <li><a href="/proyecto/">Proyectos</a></li>
                <li><a href="/clientes/">Clientes</a></li>
            </ul>
        </li>
        <li><a href="/proyecto/">Proyectos</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="../"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <h3> Administración de Clientes </h3>

    <div>
        <ul>
            <li><a href="../clientes/AgregarCliente">Agregar Cliente</a></li>
            <li><a href="../clientes/ModificarCliente">Modificar Cliente</a></li>
            <li><a href="#">Ver Cliente</a> </li>
        </ul>
    </div>
</div>

</body>
</html>